<app-navbar></app-navbar>


<div class="main-container">
  <h1>Bienvenido al Sistema</h1>
  <p>Por favor, elige una opción para continuar:</p>

  <div class="menu-options">
    <div class="menu-card">
      <h2>Gestión de Usuarios</h2>
      <p>Administra los usuarios de tu sistema.</p>
      <button class="button" routerLink="/users">Ir a Gestión de Usuarios</button>
    </div>

    <div class="menu-card">
      <h2>Gestión de Personas</h2>
      <p>Maneja la información de las personas registradas.</p>
      <button class="button" routerLink="/persons">Ir a Gestión de Personas</button>
    </div>
  </div>
</div>

