<div class="login-container">
  <div class="login-left">
    <h2>Login! 👋</h2>
    <p>Bienvenidos al sistema!</p>

    <!-- Formulario de inicio de sesión -->
    <form (ngSubmit)="onLogin()">
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required placeholder="Enter your username">

      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="******">

      <button type="submit" class="btn btn-signin">Login</button>
    </form>

  </div>

  <div class="login-right">
    <div class="login-info">
      <h3>KMCM_PRUEBA TÉCNICA LAARCOURIER</h3>
      <p>Creación de microservicios para las operaciones del CRUD de la entidad Persona (datos básicos)..</p>
    </div>
  </div>
</div>
