.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Asegura que los elementos se espacen entre sí */
  align-items: center;
}

.navbar-container {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la barra */
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a lo largo de la barra */
}

.nav-menu {
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 20px; /* Espacio a la derecha del nombre de usuario */
}

.nav-actions {
  display: flex; /* Asegura que los botones en esta sección se alineen horizontalmente */
}

.btn-logout {
  background-color: #e74c3c; /* Rojo */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-logout:hover {
  background-color: #c0392b; /* Rojo oscuro */
}
